@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2016-09-01 10:13:52
 * @version $Id$
 */

header{
	width: 100%;
	height: 40px;
	background-color: #0894EC;
}
header div{
	min-width: 300px;
	max-width: 640px;
	height: 40px;
	margin: 0 auto;
	position: relative;
}
.logo{
	display: inline-block;
	width: 20%;
	height: 40px;
	background: url(../images/logo.png) 0 0 no-repeat;
	background-size: cover;
}
@media screen and(max-width: 760px){
	.logo{
		width: 20%;
	}
}
/* paid */
@media screen and(min-width: 760px) and(min-height: 1000px){
	.logo{
		width: 15%;
	}
}
header form{
	display: inline-block;
	width: 70%;
	height: 30px;
	margin: 5px 10px;
}
header form input{
	float: left;
	font-size: 1rem;
	line-height: 30px;
	border-radius: 0.3rem;
}
header input[type=text]{
	width: 72%;
	height: 26px;
	padding: 2px;
	margin-right: 2%;
}
header input[type=button]{
	width: 20%;
	height: 30px;
	color: #fff;
	background-color: orange;
}
.mine{
	float: right;
	width: 40px;
	height: 40px;
	line-height: 40px;
	font-size: 1rem;
	color: #fff;
	text-align: center;
	position: absolute;
	right: 0;
	top: 0;
}
.project{
	width: 100%;
	height: ;
}
.project h3{
	height: 48px;
	line-height: 48px;
	font-size: 1.5rem;
	font-weight: normal;
	padding-left: 2rem;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.pro_list{
	padding: 1rem 0;
}
.pro_list li{
	float: left;
	width: 33%;
	margin: 0.5rem 0;
}
.pro_list li a{
	display: block;
	width: 100%;
	text-decoration: none;
	text-align: center;
}
.pro_list li a img{
	width: 40px;
	height: 40px;
	margin: 0 auto;
}
.pro_list li a p{
	line-height: 2;
	color: #8d8d8d;
}
.banner{
	height: 60px;
	border-top: 1rem solid #f0eff5;
	border-bottom: 1rem solid #f0eff5;
}
.box{
	height: 60px;
	position: relative;
	overflow: hidden;
}
.box ul{
	width: 400%;
	height: 100%;
}
.box ul li{
	width: 25%;
	float: left;
}
.box ul li img{
	width: 100%;
	height: 60px;
}
.box ol{
	width: 100px;
	height: 10px;
	position: absolute;
	bottom: 10px;
	left: 50%;
	margin-left: -50px;
}
.box ol li{
	width: 25%;
	float: left;
	font-size: 1rem;
	text-align: center;
	color: rgba(0,0,0,.5);
}
.box .current{
	color: #0894ec;
}

.btns{
	height: 50px;
	padding: 1.2rem 0;
	border-bottom: 1rem solid #f0eff5;
}
.btns a{
	float: left;
	width: 40%;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 1.1rem;
	color: #fff;
	background-color: #0894ec;
	border-radius: 5px;
	margin: 0 5%;
}