@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2016-08-22 20:24:05
 * @version $Id$
 */

*{
	margin: 0;
	padding: 0;
}
html,body{
	width: 100%;
	height: 100%;
	overflow: hidden;
	font-size: 14px;
}
.box{
	position: relative;
	-webkit-transition: 1s;
	-moz-transition: 1s;
	-ms-transition: 1s;
	font-family: Microsoft yahei;
	overflow: hidden;
}
.cur{
	-webkit-transition: all 1s ease 2s;
}
/* 第一页 */
#first{
	width: 100%;
	height: 100%;
	margin: 0 auto;
	background-color: #1e8fbb;
}
#head{
	width: 65%;
	margin: 0 auto;
	animation: myheader 3s linear infinite;
	-moz-animation: myheader 3s linear infinite;
	-webkit-animation: myheader 3s linear infinite;
	-ms-animation: myheader 3s linear infinite;
}
@keyframes myheader{
	0%{transform: scale(1);filter: brightness(0.8);}
	50%{transform: scale(1.05);filter: brightness(1.5);}
	100%{transform: scale(1);filter: brightness(0.8);}
}
@-webkit-keyframes myheader{
	0%{transform: scale(1);filter: brightness(0.8);}
	50%{transform: scale(1.05);filter: brightness(1.5);}
	100%{transform: scale(1);filter: brightness(0.8);}
}
@-moz-keyframes myheader{
	0%{transform: scale(1);filter: brightness(0.8);}
	50%{transform: scale(1.05);filter: brightness(1.5);}
	100%{transform: scale(1);filter: brightness(0.8);}
}
@-o-keyframes myheader{
	0%{transform: scale(1);filter: brightness(0.8);}
	50%{transform: scale(1.05);filter: brightness(1.5);}
	100%{transform: scale(1);filter: brightness(0.8);}
}
@-ms-keyframes myheader{
	0%{transform: scale(1);filter: brightness(0.8);}
	50%{transform: scale(1.05);filter: brightness(1.5);}
	100%{transform: scale(1);filter: brightness(0.8);}
}
#head img{
	margin-top: 25%;
}
#first p{
	color: #a5d2e4;
	font-size: 120%;
	text-align: center;
	font-family: Microsoft yahei;
	animation: colorfont 7s linear infinite;
	-webkit-animation: colorfont 7s linear infinite;
	-moz-animation: colorfont 7s linear infinite;
	-ms-animation: colorfont 7s linear infinite;
}
@keyframes colorfont{
	0%{color: #FFFFFF;}
	20%{color: #ED5564;}
	40%{color: #86A9FF;}
	60%{color: #FFE747;}
	80%{color: #CBFFA3;}
	100%{color: #FFFFFF;}
}
@-webkit-keyframes colorfont{
	0%{color: #FFFFFF;}
	20%{color: #ED5564;}
	40%{color: #86A9FF;}
	60%{color: #FFE747;}
	80%{color: #CBFFA3;}
	100%{color: #FFFFFF;}
}
@-moz-keyframes colorfont{
	0%{color: #FFFFFF;}
	20%{color: #ED5564;}
	40%{color: #86A9FF;}
	60%{color: #FFE747;}
	80%{color: #CBFFA3;}
	100%{color: #FFFFFF;}
}
@-ms-keyframes colorfont{
	0%{color: #FFFFFF;}
	20%{color: #ED5564;}
	40%{color: #86A9FF;}
	60%{color: #FFE747;}
	80%{color: #CBFFA3;}
	100%{color: #FFFFFF;}
}
@-o-keyframes colorfont{
	0%{color: #FFFFFF;}
	20%{color: #ED5564;}
	40%{color: #86A9FF;}
	60%{color: #FFE747;}
	80%{color: #CBFFA3;}
	100%{color: #FFFFFF;}
}
#first .music{
	width: 12%;	
	height: 8%;
	position: absolute;
	left: 44%;
	top: 30%;
}
.music audio{
	width: 88%;
	height: 88%;
	opacity: 0;
	position: absolute;
	left: 0;
	top: 0;
}
@media screen and(max-width: 1000px){
	#first .music{
		position: absolute;
		left: 44%;
		top: 30%;
	}
}
.girl{
	width: 76%;
	height: 50%;
	margin: 20% auto 0;
}
.next{
	display: block;
	width: 8%;
	height: 3%;
	position: absolute;
	left: 46%;
	bottom: 3%;
	cursor: pointer;
	animation: mymove 1s infinite;
	-webkit-animation: mymove 1s infinite;
	-moz-animation: mymove 1s infinite;
	-ms-animation: mymove 1s infinite;
}
@keyframes mymove{
	0% {bottom: 3%;}
	50% {bottom: 4%;}
	100% {bottom: 3%;}
}
@-webkit-keyframes mymove{
	0% {bottom: 3%;}
	50% {bottom: 4%;}
	100% {bottom: 3%;}
}
@-moz-keyframes mymove{
	0% {bottom: 3%;}
	50% {bottom: 4%;}
	100% {bottom: 3%;}
}
@-o-keyframes mymove{
	0% {bottom: 3%;}
	50% {bottom: 4%;}
	100% {bottom: 3%;}
}
@-ms-keyframes mymove{
	0% {bottom: 3%;}
	50% {bottom: 4%;}
	100% {bottom: 3%;}
}

/* 第二页 */
#second{	
	width: 100%;
	height: 100%;
	margin: 0 auto;
	background-color: #f6bb43;
}
.music{
	width: 8%;	
	height: 5%;
	position: absolute;
	right: 3%;
	top: 2%;
}
h2{
	text-align: center;
	font-size: 160%;
	color: #fff;
	width: 100%;
	font-weight: normal;
	font-family: "agency fb";
	position: absolute;
	top: 8%;
	text-shadow: -1px -1px 1px #fff;
	animation: myh2 8s infinite;
	-moz-animation: myh2 8s infinite;
	-webkit-animation: myh2 8s infinite;
	-ms-animation: myh2 8s infinite;
}
@keyframes myh2{
	0%{transform: translateX(0%);opacity: 1;}
	25%{transform: translateX(10%);opacity: 0;}
	50%{transform: translateX(0%);opacity: 1;}
	75%{transform: translateX(-10%);opacity: 0;}
	100%{transform: translateX(0%);opacity: 1;}
}
@-webkit-keyframes myh2{
	0%{transform: translateX(0%);opacity: 1;}
	25%{transform: translateX(10%);opacity: 0;}
	50%{transform: translateX(0%);opacity: 1;}
	75%{transform: translateX(-10%);opacity: 0;}
	100%{transform: translateX(0%);opacity: 1;}
}
@-moz-keyframes myh2{
	0%{transform: translateX(0%);opacity: 1;}
	25%{transform: translateX(10%);opacity: 0;}
	50%{transform: translateX(0%);opacity: 1;}
	75%{transform: translateX(-10%);opacity: 0;}
	100%{transform: translateX(0%);opacity: 1;}
}
@-o-keyframes myh2{
	0%{transform: translateX(0%);opacity: 1;}
	25%{transform: translateX(10%);opacity: 0;}
	50%{transform: translateX(0%);opacity: 1;}
	75%{transform: translateX(-10%);opacity: 0;}
	100%{transform: translateX(0%);opacity: 1;}
}
@-ms-keyframes myh2{
	0%{transform: translateX(0%);opacity: 1;}
	25%{transform: translateX(10%);opacity: 0;}
	50%{transform: translateX(0%);opacity: 1;}
	75%{transform: translateX(-10%);opacity: 0;}
	100%{transform: translateX(0%);opacity: 1;}
}
/****************普通手机****************/

#photo{
	position: absolute;
	top: 20%;
	left: 30%;
	border: 1px solid #fff;
	border-top: none;
	border-right: none;
	border-radius: 50%;
	background: url(../images/photo.jpg) center center no-repeat;
	background-size: 100%;
	animation: myRotage 5s linear infinite; 
	-webkit-animation: myRotage 5s linear infinite; 
	-moz-animation: myRotage 5s linear infinite; 
	-ms-animation: myRotage 5s linear infinite; 
}
 @keyframes myRotage{
	0%{-webkit-transform:rotate(0deg)}
	25%{-webkit-transform:rotate(15deg)}
	50%{-webkit-transform:rotate(0deg)}
	75%{-webkit-transform:rotate(-15deg)}
	100%{-webkit-transform:rotate(0deg)}
} 
 @-webkit-keyframes myRotage{
	0%{-webkit-transform:rotate(0deg)}
	25%{-webkit-transform:rotate(15deg)}
	50%{-webkit-transform:rotate(0deg)}
	75%{-webkit-transform:rotate(-15deg)}
	100%{-webkit-transform:rotate(0deg)}
} 
 @-moz-keyframes myRotage{
	0%{-webkit-transform:rotate(0deg)}
	25%{-webkit-transform:rotate(15deg)}
	50%{-webkit-transform:rotate(0deg)}
	75%{-webkit-transform:rotate(-15deg)}
	100%{-webkit-transform:rotate(0deg)}
} 
 @-o-keyframes myRotage{
	0%{-webkit-transform:rotate(0deg)}
	25%{-webkit-transform:rotate(15deg)}
	50%{-webkit-transform:rotate(0deg)}
	75%{-webkit-transform:rotate(-15deg)}
	100%{-webkit-transform:rotate(0deg)}
}
 @-ms-keyframes myRotage{
	0%{-webkit-transform:rotate(0deg)}
	25%{-webkit-transform:rotate(15deg)}
	50%{-webkit-transform:rotate(0deg)}
	75%{-webkit-transform:rotate(-15deg)}
	100%{-webkit-transform:rotate(0deg)}
} 
.border1{
	width: 108%;
	height: 108%;
	border-radius: 50%;
	position: absolute;
	left: -6%;
	top: -6%;
	border: 2px dotted #fff;
	animation: myroll1 10s linear infinite;
	-webkit-animation: myroll1 10s linear infinite;
	-moz-animation: myroll1 10s linear infinite;
	-ms-animation: myroll1 10s linear infinite;
}
@keyframes myroll1{
	from{-webkit-transform:rotate(0deg);}
	to{-webkit-transform:rotate(120deg)}
}
@-webkit-keyframes myroll1{
	from{-webkit-transform:rotate(0deg);}
	to{-webkit-transform:rotate(120deg)}
}
@-moz-keyframes myroll1{
	from{-webkit-transform:rotate(0deg);}
	to{-webkit-transform:rotate(120deg)}
}
@-o-keyframes myroll1{
	from{-webkit-transform:rotate(0deg);}
	to{-webkit-transform:rotate(120deg)}
}
@-ms-keyframes myroll1{
	from{-webkit-transform:rotate(0deg);}
	to{-webkit-transform:rotate(120deg)}
}
.border2{
	width: 120%;
	height: 120%;
	border-radius: 50%;
	position: absolute;
	left: -10%;
	top: -10%;
	border: 2px dashed #fff;
	border-top: none;
	border-right: none;
	animation: myroll2 10s infinite;
	-webkit-animation: myroll2 10s infinite;
	-moz-animation: myroll2 10s infinite;
	-ms-animation: myroll2 10s infinite;
}
@keyframes myroll2{
	0%{-webkit-transform:rotate(0deg)}
	50%{-webkit-transform:rotate(180deg)}
	100%{-webkit-transform:rotate(0deg)}
}
@-webkit-keyframes myroll2{
	0%{-webkit-transform:rotate(0deg)}
	50%{-webkit-transform:rotate(180deg)}
	100%{-webkit-transform:rotate(0deg)}
}
@-moz-keyframes myroll2{
	0%{-webkit-transform:rotate(0deg)}
	50%{-webkit-transform:rotate(180deg)}
	100%{-webkit-transform:rotate(0deg)}
}
@-o-keyframes myroll2{
	0%{-webkit-transform:rotate(0deg)}
	50%{-webkit-transform:rotate(180deg)}
	100%{-webkit-transform:rotate(0deg)}
}
@-ms-keyframes myroll2{
	0%{-webkit-transform:rotate(0deg)}
	50%{-webkit-transform:rotate(180deg)}
	100%{-webkit-transform:rotate(0deg)}
}
.content{
	width: 70%;
	height: 40%;
	position: absolute;
	top: 50%;
	left: 15%;
}
.content ul{
	list-style: none;
	color: #fff;
}
.content ul li{
	font-size: 120%;
	line-height: 2;
}
/****************普通手机****************/
@media screen and (max-width: 750px){
	.content ul li{
		font-size: 110%;
		line-height: 2;
	}
}

/************ PC端 ************/
@media screen and (min-width:820px){
	#first p{
		font-size: 12px;
	}
	h2{
		font-weight: normal;
		font-size: 20px;
	}
	.content ul li{
		font-size: 76%;
		line-height: 2;
	}
}
/*************** iPad *****************/
@media screen and (min-width: 750px) and (min-height:1000px){
	#first p{
		font-size: 220%;
	}
	#first .music{
		position: absolute;
		left: 44%;
		top: 38%;
	}
	h2{
		font-size: 280%;
	}
	.content ul li{
		font-size: 200%;
		line-height: 2;
	}
}
/****************** iPad ****************/

/* 第三页 */
#third{
	width: 100%;
	height: 100%;
	margin: 0 auto;
	background-color: #39ac6b;
}
/****************普通手机****************/
@media screen and (max-width: 750px){
	.skill{
		width: 80%;
		position: absolute;
		top: 18%;
		left: 10%;
	}
	#skills{
		top: 60%;
	}
	#skills li{
		line-height: 2;
		font-size: 120%;
		color: #fff;
	}
	#skills li p{
		display: inline-block;
		text-align: left;
		color: #fff;
		width: 26%;
		margin-right: 2px;
	}
	#skills li span{
		height: 3px;
	}
}
/* iPhone5 */
@media screen and (max-width: 320px){
	#skills li p{
		font-size: 100%;
	}
}

/************ PC端 ************/
@media screen and (min-width:820px){
	.skill{
		width: 64%;
		position: absolute;
		top: 18%;
		left: 20%;
	}
	#skills{
		top: 54%;
	}
	#skills li{
		line-height: 2;
		color: #fff;
	}
	#skills li p{
		display: inline-block;
		text-align: left;
		color: #fff;
		width: 22%;
		margin-right: 2px;
	}
	#skills li span{
		height: 2px;
	}
}
/****************** iPad ****************/
@media screen and (min-width: 750px) and (min-height:1000px){	
	.skill{
		width: 64%;
		position: absolute;
		top: 18%;
		left: 20%;
	}
	#skills{
		top: 56%;
	}
	#skills li{
		line-height: 2;
		font-size: 200%;
		color: #fff;
	}
	#skills li p{
		display: inline-block;
		text-align: left;
		color: #fff;
		width: 22%;
		margin-right: 2px;
	}
	#skills li span{
		height: 5px;
	}
}
#skills{
	width: 90%;
	height: 40%;
	position: absolute;
	left: 5%
}
#skills ul{
	list-style: none;
}
#skills li{
	width: 100%;	
}
#skills li span{
	display: inline-block;
	margin-left: 5%;
	margin-right: 3%;
	margin-bottom: 1.5%;
	background: url(../images/bg.png) 20% 0 no-repeat;
	background:linear-gradient(to right,#86a9ff,#79dbff,#cbffa3,#e3c623);
	background:-webkit-linear-gradient(to right,#86a9ff,#79dbff,#cbffa3,#e3c623);
	background:-ms-linear-gradient(to right ,#86a9ff,#79dbff,#cbffa3,#e3c623);
	background:-o-linear-gradient(to right ,#86a9ff,#79dbff,#cbffa3,#e3c623);
	background:-moz-linear-gradient(to right ,#86a9ff,#79dbff,#cbffa3,#e3c623);
}
#skills li i{
	color: #ffe747;
}
#skills li:nth-child(1) span{
	width: 50%;	
}
#skills li:nth-child(2) span{
	width: 49%;
}
#skills li:nth-child(3) span{
	width: 46%;
}
#skills li:nth-child(4) span{
	width: 40%;
}
#skills li:nth-child(5) span{
	width: 47%;
}
/* 第四页 */
#forth{	
	width: 100%;
	height: 100%;
	margin: 0 auto;
	background-color: #724192;
}
/****************普通手机****************/
@media screen and (max-width: 750px){
	.experience{
		width: 70%;
		position: absolute;
		top: 18%;
		left: 15%;
	}
	#tree{
		top: 50%;
	}
	#tree img{
		width: 12%;
		top: 12%;
		left: 44%;
	}
	#tree span{
		top: 16%;
		font-size: 36%;
	}
}
/* iPhone5 */
@media screen and (max-width: 320px){
	#tree{
		width: 96%;
	}
	#tree div{
		font-size: 100%;
	}
	#tree span{
		top: 15%;
		font-size: 36%;
	}
}

/************ PC端 ************/
@media screen and (min-width:820px){
	.experience{
		width: 60%;
		position: absolute;
		top: 18%;
		left: 20%;
	}
	#tree{
		top: 50%;
	}
	#tree img{
		width: 12%;
		top: 3%;
		left: 44%;
	}
	#tree div{
		font-size: 70%;
	}
	#tree span{
		font-size: 36%;
		top: 5%;
	}
}

/****************** iPad ****************/
@media screen and (min-width: 750px) and (min-height:1000px){
	.experience{
		width: 56%;
		position: absolute;
		top: 16%;
		left: 20%;
	}
	#tree{
		top: 50%;
	}
	#tree img{
		width: 9%;
		top: 12%;
		left: 45%;
	}
	#tree div{
		font-size: 180%;
	}
	#tree span{
		font-size: 120%;
		top: 17%;
	}
}

#tree{
	width: 90%;
	height: 40%;
	position: absolute;
	left: 5%
}
#tree img{
	position: absolute;
}
#tree span{
	position: absolute;
	left: 47%;
	color: #fff;
	animation: myOpacity 1s infinite;
	-webkit-animation: myOpacity 1s infinite;
	-moz-animation: myOpacity 1s infinite;
	-ms-animation: myOpacity 1s infinite;
}
@keyframes myOpacity{
	from{opacity: 0.9;}
	to{opacity: 0.2;}
}
@-webkit-keyframes myOpacity{
	from{opacity: 0.9;}
	to{opacity: 0.2;}
}
@-moz-keyframes myOpacity{
	from{opacity: 0.9;}
	to{opacity: 0.2;}
}
@-o-keyframes myOpacity{
	from{opacity: 0.9;}
	to{opacity: 0.2;}
}
@-ms-keyframes myOpacity{
	from{opacity: 0.9;}
	to{opacity: 0.2;}
}
#tree div{
	width: 42%;
	color: #fff;
	position: absolute;
	left: 50%;
}
.exper-1{
	margin-left: 5%;
	top: 30%
}
.exper-2{
	text-align: right;
	margin-left: -46%;
	top: 50%
}
.exper-3{
	margin-left: 5%;
	top: 70%
}
.exper-4{
	text-align: right;
	margin-left: -46%;
	top: 90%
}



/* 第五页 */
#fifth{
	width: 100%;
	height: 100%;
	margin: 0 auto;
	background-color: #ed5564;
}

/****************普通手机****************/
@media screen and (max-width: 750px){
	.item{
		width: 70%;
		position: absolute;
		top: 18%;
		left: 15%;
	}
	#item{
		width: 90%;
		height: 50%;
		font-size: 100%;
		top: 55%;
		left: 5%;
	}
}
/* iPhone5 */
@media screen and (max-width: 320px){
	#item{
		width: 96%;
	}
	#item{
		width: 86%;
		height: 50%;
		top: 53%;
		left: 8%;
		font-size: 80%;
	}
}

/************ PC端 ************/
@media screen and (min-width:820px){
	.item{
		width: 60%;
		position: absolute;
		top: 18%;
		left: 20%;
	}
	#item{
		width: 90%;
		height: 50%;
		top: 52%;
		left: 5%;
		font-size: 100%;
	}
	#item p{
		font-size: 100%;
	}
}

/****************** iPad ****************/
@media screen and (min-width: 750px) and (min-height:1000px){
	.item{
		width: 56%;
		position: absolute;
		top: 16%;
		left: 20%;
	}
	#item{
		width: 80%;
		height: 50%;
		top: 58%;
		left: 10%;
		font-size: 200%;
	}
}
#item{
	position: absolute;
	color: #fff;
}
#item .item1{
	margin-bottom: 5%;
}
#item p{
	color: #fff;
	text-align: left;
	/* text-indent: 2em; */
}
/* 第六页 */
#sixth{
	width: 100%;
	height: 100%;
	margin: 0 auto;
	background-color: #2b9ea2;
}
/****************普通手机****************/
@media screen and (max-width: 750px){
	#sixth>p{
		left: 33%;
		font-size: 300%;
	}
	.ready{
		width: 80%;
		height: 69%;
		position: absolute;
		left: 10%;
		bottom: 0;
	}
	.roll{
		width: 12%;
		height: 8%;
		position: absolute;
		left: 8%;
		top: 12%;
	}
	.roll img{
		display: inline-block;
		position: absolute;
	}
	.roll img:first-child{
		left: 0;
		top: 0;
	}
	.roll img:last-child{
		right: 0;
		bottom: 0;
	}
	.message{	
		width: 14%;
		height: 8%;
		position: absolute;
		left: 48%;
		top: 48%;
	}
	.bulb{
		width: 12%;
		height: 10%;
		position: absolute;
		right: 4%;
		top: 25%; 
	}
	.bulb img{
		position: absolute;
		bottom: 0;
		left: 0;
	}
}

/* iPhone5 */
@media screen and (max-width: 320px){
	#sixth>p{
		left: 33%;
		font-size: 300%;
	}
}

/************ PC端 ************/
@media screen and (min-width:820px){
	#sixth>p{
		left: 40%;
		font-size: 240%;
	}
	.ready{
		width: 80%;
		height: 69%;
		position: absolute;
		left: 10%;
		bottom: 0;
	}
	.roll{
		width: 12%;
		height: 8%;
		position: absolute;
		left: 8%;
		top: 12%;
	}
	.roll img{
		display: inline-block;
		position: absolute;
	}
	.message{	
		width: 14%;
		height: 8%;
		position: absolute;
		left: 48%;
		top: 48%;
	}
	.bulb{
		width: 12%;
		height: 10%;
		position: absolute;
		right: 4%;
		top: 25%; 
	}
	
}

/****************** iPad ****************/
@media screen and (min-width: 750px) and (min-height:1000px){
	#sixth>p{
		left: 36%;
		font-size: 500%;
	}
	.ready{
		width: 60%;
		height: 69%;
		position: absolute;
		left: 20%;
		bottom: 0;
	}
	.roll{
		width: 12%;
		height: 8%;
		position: absolute;
		left: 8%;
		top: 12%;
	}
	.roll img{
		display: inline-block;
		position: absolute;
	}
	.message{	
		width: 14%;
		height: 8%;
		position: absolute;
		left: 48%;
		top: 48%;
	}
	.bulb{
		width: 12%;
		height: 10%;
		position: absolute;
		right: 4%;
		top: 25%; 
	}
	
}
#sixth h2{
	top: 10%
}
#sixth>p{
	color: #fff;
	font-weight: bold;
	font-family: 'Comic Sans MS';
	/* font-family: 'cursive'; */
	position: absolute;
	top: 15%;
}
#sixth>p span:first-child{
	margin-right: 10px;
	display: inline-block;
	animation: myfont1 1s linear infinite;
	-webkit-animation: myfont1 1s linear infinite;
	-moz-animation: myfont1 1s linear infinite;
	-ms-animation: myfont1 1s linear infinite;
}
@keyframes myfont1{
	0%{transform: rotate(0deg);}
	25%{transform: rotate(-6deg);}
	50%{transform: rotate(0deg);}
	75%{transform: rotate(6deg);}
	100%{transform: rotate(0deg);}
}
@-webkit-keyframes myfont1{
	0%{transform: rotate(0deg);}
	25%{transform: rotate(-6deg);}
	50%{transform: rotate(0deg);}
	75%{transform: rotate(6deg);}
	100%{transform: rotate(0deg);}
}
@-moz-keyframes myfont1{
	0%{transform: rotate(0deg);}
	25%{transform: rotate(-6deg);}
	50%{transform: rotate(0deg);}
	75%{transform: rotate(6deg);}
	100%{transform: rotate(0deg);}
}
@-ms-keyframes myfont1{
	0%{transform: rotate(0deg);}
	25%{transform: rotate(-6deg);}
	50%{transform: rotate(0deg);}
	75%{transform: rotate(6deg);}
	100%{transform: rotate(0deg);}
}
@-o-keyframes myfont1{
	0%{transform: rotate(0deg);}
	25%{transform: rotate(-6deg);}
	50%{transform: rotate(0deg);}
	75%{transform: rotate(6deg);}
	100%{transform: rotate(0deg);}
}
#sixth>p span:last-child{
	color: #fed97b;
	/* margin-left: 10px; */
	display: inline-block;
	animation: myfont2 1.8s infinite;
	-webkit-animation: myfont2 1.8s infinite;
	-moz-animation: myfont2 1.8s infinite;
	-ms-animation: myfont2 1.8s infinite;
}
@keyframes myfont2{
	0%{transform: rotate(0deg);transform: scale(1)}
	25%{transform: rotate(15deg);transform: scale(1.8)}
	50%{transform: rotate(0deg);transform: scale(1)}
	75%{transform: rotate(-15deg);transform: scale(1.8)}
	100%{transform: rotate(0deg);transform: scale(1)}
}
@-webkit-keyframes myfont2{
	0%{transform: rotate(0deg);transform: scale(1)}
	25%{transform: rotate(15deg);transform: scale(1.8)}
	50%{transform: rotate(0deg);transform: scale(1)}
	75%{transform: rotate(-15deg);transform: scale(1.8)}
	100%{transform: rotate(0deg);transform: scale(1)}
}
@-moz-keyframes myfont2{
	0%{transform: rotate(0deg);transform: scale(1)}
	25%{transform: rotate(15deg);transform: scale(1.8)}
	50%{transform: rotate(0deg);transform: scale(1)}
	75%{transform: rotate(-15deg);transform: scale(1.8)}
	100%{transform: rotate(0deg);transform: scale(1)}
}
@-ms-keyframes myfont2{
	0%{transform: rotate(0deg);transform: scale(1)}
	25%{transform: rotate(15deg);transform: scale(1.8)}
	50%{transform: rotate(0deg);transform: scale(1)}
	75%{transform: rotate(-15deg);transform: scale(1.8)}
	100%{transform: rotate(0deg);transform: scale(1)}
}
@-o-keyframes myfont2{
	0%{transform: rotate(0deg);transform: scale(1)}
	25%{transform: rotate(15deg);transform: scale(1.8)}
	50%{transform: rotate(0deg);transform: scale(1)}
	75%{transform: rotate(-15deg);transform: scale(1.8)}
	100%{transform: rotate(0deg);transform: scale(1)}
}
.roll img:first-child{
	left: 0;
	top: 0;
	animation: myrotate1 2s linear infinite;
	-webkit-animation: myrotate1 2s linear infinite;
	-moz-animation: myrotate1 2s linear infinite;
	-ms-animation: myrotate1 2s linear infinite;
}
@keyframes myrotate1{
	from{transform: rotate(0deg);}
	to{transform: rotate(90deg);}
}
@-webkit-keyframes myrotate1{
	from{transform: rotate(0deg);}
	to{transform: rotate(90deg);}
}
@-moz-keyframes myrotate1{
	from{transform: rotate(0deg);}
	to{transform: rotate(90deg);}
}
@-ms-keyframes myrotate1{
	from{transform: rotate(0deg);}
	to{transform: rotate(90deg);}
}
@-o-keyframes myrotate1{
	from{transform: rotate(0deg);}
	to{transform: rotate(90deg);}
}
.roll img:last-child{
	right: 0;
	bottom: 0;
	animation: myrotate2 2s linear infinite;
	-webkit-animation: myrotate2 2s linear infinite;
	-moz-animation: myrotate2 2s linear infinite;
	-ms-animation: myrotate2 2s linear infinite;
}
@keyframes myrotate2{
	from{transform: rotate(0deg);}
	to{transform: rotate(-90deg);}
}
@-webkit-keyframes myrotate2{
	from{transform: rotate(0deg);}
	to{transform: rotate(-90deg);}
}
@-moz-keyframes myrotate2{
	from{transform: rotate(0deg);}
	to{transform: rotate(-90deg);}
}
@-ms-keyframes myrotate2{
	from{transform: rotate(0deg);}
	to{transform: rotate(-90deg);}
}
@-o-keyframes myrotate2{
	from{transform: rotate(0deg);}
	to{transform: rotate(-90deg);}
}

.message{
	animation: mymessage 1.5s linear infinite;
	-webkit-animation: mymessage 1.5s linear infinite;
	-moz-animation: mymessage 1.5s linear infinite;
	-ms-animation: mymessage 1.5s linear infinite;
}
@keyframes mymessage{
	0%{transform: scale(1);}
	25%{transform: scale(0.9);}
	50%{transform: scale(1);}
	50%{transform: scale(1.1);}
	100%{transform: scale(1);}
}
@-webkit-keyframes mymessage{
	0%{transform: scale(1);}
	25%{transform: scale(0.9);}
	50%{transform: scale(1);}
	50%{transform: scale(1.1);}
	100%{transform: scale(1);}
}
@-moz-keyframes mymessage{
	0%{transform: scale(1);}
	25%{transform: scale(0.9);}
	50%{transform: scale(1);}
	50%{transform: scale(1.1);}
	100%{transform: scale(1);}
}
@-o-keyframes mymessage{
	0%{transform: scale(1);}
	25%{transform: scale(0.9);}
	50%{transform: scale(1);}
	50%{transform: scale(1.1);}
	100%{transform: scale(1);}
}
@-ms-keyframes mymessage{
	0%{transform: scale(1);}
	25%{transform: scale(0.9);}
	50%{transform: scale(1);}
	50%{transform: scale(1.1);}
	100%{transform: scale(1);}
}
.bulb img{
	position: absolute;
	bottom: 0;
	left: 0;
	animation: mybulb 2s linear infinite;
	-webkit-animation: mybulb 2s linear infinite;
	-moz-animation: mybulb 2s linear infinite;
	-ms-animation: mybulb 2s linear infinite;
}
@keyframes mybulb{
	0%{transform: scale(1);filter: brightness(1)}
	25%{transform: scale(0.9);filter: brightness(0.9)}
	50%{transform: scale(1);filter: brightness(1)}
	75%{transform: scale(1.1);filter: brightness(1.15)}
	100%{transform: scale(1);filter: brightness(1)}
}
@-webkit-keyframes mybulb{
	0%{transform: scale(1);filter: brightness(1)}
	25%{transform: scale(0.9);filter: brightness(0.9)}
	50%{transform: scale(1);filter: brightness(1)}
	75%{transform: scale(1.1);filter: brightness(1.15)}
	100%{transform: scale(1);filter: brightness(1)}
}
@-moz-keyframes mybulb{
	0%{transform: scale(1);filter: brightness(1)}
	25%{transform: scale(0.9);filter: brightness(0.9)}
	50%{transform: scale(1);filter: brightness(1)}
	75%{transform: scale(1.1);filter: brightness(1.15)}
	100%{transform: scale(1);filter: brightness(1)}
}
@-o-keyframes mybulb{
	0%{transform: scale(1);filter: brightness(1)}
	25%{transform: scale(0.9);filter: brightness(0.9)}
	50%{transform: scale(1);filter: brightness(1)}
	75%{transform: scale(1.1);filter: brightness(1.15)}
	100%{transform: scale(1);filter: brightness(1)}
}
@-ms-keyframes mybulb{
	0%{transform: scale(1);filter: brightness(1)}
	25%{transform: scale(0.9);filter: brightness(0.9)}
	50%{transform: scale(1);filter: brightness(1)}
	75%{transform: scale(1.1);filter: brightness(1.15)}
	100%{transform: scale(1);filter: brightness(1)}
}
/* 第七页 */
#seventh{
	width: 100%;
	height: 100%;
	margin: 0 auto;
	background: url(../images/bg7.png) 0 0 no-repeat;
	background-size: 100%;
}
.contact{
	width: 80%;
	height: 30%;
	position: absolute;
	top: 15%;
	left: 10%;
}
.contact ul{
	list-style: none;
	width: 100%;
	height: 100%;
}
.contact ul li{
	width: 100%;
	height: 27%;
	position: relative;
	background: url(../images/bloned1.png) 0 0 no-repeat;
	background-size: 100%;
}
.contact ul li:first-child{
	background-image: url(../images/bloned3.png);
}
.contact ul li:nth-child(2){
	background-image: url(../images/bloned2.png);
	margin: 8% auto;
}
/****************普通手机****************/
@media screen and (max-width: 750px){
	.contact ul li p{
		font-size: 120%;
		height: 100%;
	}
	.contact+img{
		top: 63%;
	}
}

/* iPhone5 */
@media screen and (max-width: 320px){
	.contact ul li p{
		font-size: 110%;
		height: 100%;
	}
	.contact+img{
		top: 63%;
	}
}

/************ PC端 ************/
@media screen and (min-width:820px){
	.contact ul li p{
		font-size: 100%;
		height: 100%;
	}
	.contact+img{
		top: 63%;
	}	
}

/****************** iPad ****************/
@media screen and (min-width: 750px) and (min-height:1000px){
	.contact ul li p{
		font-size: 200%;
		height: 133%;
	}
	.contact+img{
		top: 82%;
	}
	
}
.contact ul li p{
	position: absolute;
	left: 10%;
	top: 0;
	width: 66%;
	margin: 0 auto;
	padding-left: 12%;
	color: #fff;
}
.contact ul li .mobile{
	background: url(../images/mobile.png) left center no-repeat;
	background-size: 8%;
}
.contact ul li .qq{
	background: url(../images/qq.png) left center no-repeat;
	background-size: 10%;
}
.contact ul li .email{
	background: url(../images/email.png) left center no-repeat;
	background-size: 10%;
}
.contact+img{
	position: absolute;
	left: 38%;
	/* top: 63%; */
	box-shadow: 1% 1% 2px 3px #eee;
	animation: mycode 2s linear infinite;
	-webkit-animation: mycode 2s linear infinite;
	-moz-animation: mycode 2s linear infinite;
	-ms-animation: mycode 2s linear infinite;
}
@keyframes mycode{
	0%{transform: scale(1);}
	50%{transform: scale(1.1);}
	100%{transform: scale(1);}
}
@-webkit-keyframes mycode{
	0%{transform: scale(1);}
	50%{transform: scale(1.1);}
	100%{transform: scale(1);}
}
@-moz-keyframes mycode{
	0%{transform: scale(1);}
	50%{transform: scale(1.1);}
	100%{transform: scale(1);}
}
@-o-keyframes mycode{
	0%{transform: scale(1);}
	50%{transform: scale(1.1);}
	100%{transform: scale(1);}
}
@-ms-keyframes mycode{
	0%{transform: scale(1);}
	50%{transform: scale(1.1);}
	100%{transform: scale(1);}
}